[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
poetry = "*"
python-decouple = "*"
dj-database-url = "*"
django-versatileimagefield = "*"
django-extensions = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-cprofile-middleware = "*"
django-js-routes = "*"
text-unidecode = "*"
jsonschema = "*"
django = "*"
django-rest-framework = "*"
django-rest-knox = "*"
django-cors-headers = "*"
django-multiselectfield = "*"
numpy = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
